.mediaViewInfo {
	--web-view-name: Home;
	--web-view-id: Home;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Home;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Home {
	position: absolute;
	width: 1366px;
	height: 768px;
	background-color: rgba(200,189,255,1);
	overflow: hidden;
	--web-view-name: Home;
	--web-view-id: Home;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Clouds {
	position: absolute;
	width: 1366px;
	height: 168px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Hug_the_Grizzly {
	filter: drop-shadow(-2px 4px 0px rgba(255, 128, 213, 0.471));
	left: 89px;
	top: 122px;
	position: absolute;
	overflow: visible;
	width: 379px;
	height: 66px;
	text-align: left;
	font-family: VAG Rundschrift D;
	font-style: normal;
	font-weight: normal;
	font-size: 56px;
	color: rgba(255,255,255,1);
}
#Component_1__1 {
	position: absolute;
	width: 108px;
	height: 35px;
	left: 834px;
	top: 196px;
	overflow: visible;
}
#Repeat_Grid_1 {
	position: absolute;
	width: 108px;
	height: 35px;
	left: 0px;
	top: 0px;
	overflow: hidden;
}
#Group_1 {
	position: absolute;
	width: 108px;
	height: 35px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1 {
	fill: rgba(246,162,255,1);
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 108px;
	height: 35px;
	left: 0px;
	top: 0px;
}
#Home_n {
	left: 28px;
	top: 5px;
	position: absolute;
	overflow: visible;
	width: 53px;
	height: 24px;
	text-align: center;
	font-family: VAG Rundschrift D;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Component_1__1_o {
	position: absolute;
	width: 108px;
	height: 35px;
	left: 962px;
	top: 196px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: posts.html;
	cursor: pointer;
}
#Repeat_Grid_1_p {
	position: absolute;
	width: 108px;
	height: 35px;
	left: 0px;
	top: 0px;
	overflow: hidden;
}
#Group_1_q {
	position: absolute;
	width: 108px;
	height: 35px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1_r {
	fill: rgba(246,162,255,1);
}
.Rectangle_1_r {
	position: absolute;
	overflow: visible;
	width: 108px;
	height: 35px;
	left: 0px;
	top: 0px;
}
#Posts {
	left: 28px;
	top: 5px;
	position: absolute;
	overflow: visible;
	width: 53px;
	height: 24px;
	text-align: center;
	font-family: VAG Rundschrift D;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Component_1__1_t {
	position: absolute;
	width: 108px;
	height: 35px;
	left: 1090px;
	top: 196px;
	overflow: visible;
}
#Repeat_Grid_1_u {
	position: absolute;
	width: 108px;
	height: 35px;
	left: 0px;
	top: 0px;
	overflow: hidden;
}
#Group_1_v {
	position: absolute;
	width: 108px;
	height: 35px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1_w {
	fill: rgba(246,162,255,1);
}
.Rectangle_1_w {
	position: absolute;
	overflow: visible;
	width: 108px;
	height: 35px;
	left: 0px;
	top: 0px;
}
#Art {
	left: 28px;
	top: 5px;
	position: absolute;
	overflow: visible;
	width: 53px;
	height: 24px;
	text-align: center;
	font-family: VAG Rundschrift D;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Component_1__1_y {
	position: absolute;
	width: 108px;
	height: 35px;
	left: 1218px;
	top: 196px;
	overflow: visible;
}
#Repeat_Grid_1_z {
	position: absolute;
	width: 108px;
	height: 35px;
	left: 0px;
	top: 0px;
	overflow: hidden;
}
#Group_1_ {
	position: absolute;
	width: 108px;
	height: 35px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1_ {
	fill: rgba(246,162,255,1);
}
.Rectangle_1_ {
	position: absolute;
	overflow: visible;
	width: 108px;
	height: 35px;
	left: 0px;
	top: 0px;
}
#About {
	left: 28px;
	top: 5px;
	position: absolute;
	overflow: visible;
	width: 53px;
	height: 24px;
	text-align: center;
	font-family: VAG Rundschrift D;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Hello_Im_a_potato_A_magical_pu {
	left: 298px;
	top: 362px;
	position: absolute;
	overflow: visible;
	width: 539px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}