body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f3f0f7;
}

footer {
    color: #f4e4fc;
    text-align: center;
    background-color: #202b69;
    padding-block: 15px;
}

/* h1 */
.title {
    font-family: Poppins;
    line-height: 1.5em;
    margin-bottom: 24px;
}

.heading {
    font-family: Poppins;
    font-size: 1.85em;
    line-height: 1.5em;
    margin-bottom: auto;
}


h2 {
    font-family: Poppins;
    font-size: 1.3em;
    line-height: 1.3em;
    padding-bottom: 12px;
    margin-top: -7px;
    color: #8b898f;
}

h3 {
    font-family: Poppins;
    font-size: 1.3em;
    line-height: 1.5em;
    color: #a89fb5;
}

p {
    font-family: Poppins;
    font-size: 1.06em;
    padding-bottom: 25px;
    line-height: 35px;
}

.banner {
    background-image: url("clouds.jpg");
    height: 20%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

@font-face {
    font-family: Poppins;
    font-weight: normal;
    src: url(Poppins-Regular.ttf);
}
@font-face {
    font-family: Poppins;
    font-weight: bold;
    src: url(Poppins-SemiBold.ttf);
}

.navigation {
    text-align: center;
    font-family: Poppins;
    font-weight: bold;
    width: 100%;
    max-height: 55px;
    border-bottom: solid;
    border-bottom-color: #e5e1eb;
    border-bottom-width: thin;
    background-color: #eee9f5;
}

.navigation ul {
    display: inline-block;
    list-style: none;
}

.navigation ul li {
    display: inline;
    margin-inline: 5px;
    padding-bottom: 14px;
    padding-inline: 20px;

    transition: 0.2s;
    border-bottom: solid;
    border-bottom-color: #eee9f5;
}

.navigation ul .current {
    padding-bottom: 14px;
    border-bottom-color: darkviolet;
}

a {
    transition: 0.2s;
    text-decoration: none;
    color: black;
}

.navigation ul li:hover {
    border-bottom: solid;
    border-bottom-color: darkviolet;
}

.content-box {
    text-align: center;
    padding: 2%;
}

.content {
    display: inline-block;
    text-align: left;
    width: 96%;
    max-width: 800px;
}

.content-box a:hover {
    color: darkviolet;
}

.featured-post {
    display: inline-block;
    margin: auto;
}


.featured-img {
    display: inline-block;
    float: left;
    width: 32%;
    max-width: 500px;
    padding-right: 15px;
}

.featured-post-title {
    background-color: #eee9f5;
    font-family: Poppins;
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 0px;
    margin-bottom: 5px;
    padding-top:2px;
    padding-bottom:2px;

    transition: 0.2s;
}

.featured-post-title a:hover {
    color: darkviolet;
}

.featured-post-desc {
    font-family: Poppins;
    line-height: 24px;
    display: inline;
    color: #514d54;
}

.post-img {
    display: block;
    margin-inline: auto;
    width: 100%;
    max-width: 793px;
}

table {
    display: inline-table;
    font-family: Poppins;
    font-size: 1em;
}

td {
    padding-left: 5px;
    padding-right: 20px;
    line-height: 1.5em;
    border-bottom: solid;
    border-bottom-color: #f3f0f7;
    background-color: #eee9f5;
}


.portfolio-nav {
    text-align: center;
    font-family: Poppins;
    font-weight: bold;
    width: 100%;
    max-height: 55px;
    border-bottom: solid;
    border-bottom-color: #e5e1eb;
    border-bottom-width: thin;
}

.portfolio-nav ul {
    display: inline-block;
    list-style: none;
}

.portfolio-nav ul li {
    display: inline;
    margin-inline: 5px;
    padding-inline: 20px;
}

.portfolio-nav ul .current {
    border-bottom: solid;
    border-bottom-color: black;
    padding-bottom: 14px;
}

.featured-gallery {

}

.gallery {
    text-align: center;
    width: 80%;
    margin: auto;
    padding: 25px;
}

.gallery-item {
    display: inline-block;
    padding: 5px;
}