:root {
	--web-view-ids: Home;
	--web-view-name: Home;
	--web-view-id: Home;
	--web-scale-to-fit: false;
	--web-scale-to-fit-type: default;
	--web-enable-scale-up: false;
	--web-scale-on-resize: true;
	--web-show-scale-controls: false;
	--web-scale-on-double-click: false;
	--web-center-horizontally: false;
	--web-center-vertically: false;
	--web-actual-size-on-double-click: false;
	--web-navigate-on-keypress: false;
	--web-refresh-for-changes: false;
	--web-add-image-compare: false;
	--web-show-by-media-query: false;
	--web-application: false;
	--web-show-navigation-controls: true;
	--web-enable-deep-linking: true;
	--web-is-overlay: false;
}
#Home {
	display: none;
}
@media (min-width: 0px) {
	.mediaViewInfo {
		--web-view-name: Home;
		--web-view-id: Home;
		--web-scale-on-resize: true;
		--web-show-navigation-controls: true;
		--web-enable-deep-linking: true;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#Home {
		position: absolute;
		display: block;
		width: 1366px;
		height: 768px;
		background-color: rgba(200,189,255,1);
		overflow: hidden;
		--web-view-name: Home;
		--web-view-id: Home;
		--web-scale-on-resize: true;
		--web-show-navigation-controls: true;
		--web-enable-deep-linking: true;
	}
	#Clouds {
		position: absolute;
		width: 1366px;
		height: 168px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Hug_the_Grizzly {
		filter: drop-shadow(-2px 4px 0px rgba(255, 128, 213, 0.471));
		left: 89px;
		top: 122px;
		position: absolute;
		overflow: visible;
		width: 379px;
		height: 66px;
		text-align: left;
		font-family: VAG Rundschrift D;
		font-style: normal;
		font-weight: normal;
		font-size: 56px;
		color: rgba(255,255,255,1);
	}
	#Component_1__1 {
		position: absolute;
		width: 108px;
		height: 35px;
		left: 834px;
		top: 196px;
		overflow: visible;
	}
	#Repeat_Grid_1 {
		position: absolute;
		width: 108px;
		height: 35px;
		left: 0px;
		top: 0px;
		overflow: hidden;
	}
	#Group_1 {
		position: absolute;
		width: 108px;
		height: 35px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_1 {
		fill: rgba(246,162,255,1);
	}
	.Rectangle_1 {
		position: absolute;
		overflow: visible;
		width: 108px;
		height: 35px;
		left: 0px;
		top: 0px;
	}
	#Home_m {
		left: 28px;
		top: 5px;
		position: absolute;
		overflow: visible;
		width: 53px;
		height: 24px;
		text-align: center;
		font-family: VAG Rundschrift D;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(255,255,255,1);
	}
	#Component_1__1_n {
		position: absolute;
		width: 108px;
		height: 35px;
		left: 962px;
		top: 196px;
		overflow: visible;
	}
	#Repeat_Grid_1_o {
		position: absolute;
		width: 108px;
		height: 35px;
		left: 0px;
		top: 0px;
		overflow: hidden;
	}
	#Group_1_p {
		position: absolute;
		width: 108px;
		height: 35px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_1_q {
		fill: rgba(246,162,255,1);
	}
	.Rectangle_1_q {
		position: absolute;
		overflow: visible;
		width: 108px;
		height: 35px;
		left: 0px;
		top: 0px;
	}
	#Posts {
		left: 28px;
		top: 5px;
		position: absolute;
		overflow: visible;
		width: 53px;
		height: 24px;
		text-align: center;
		font-family: VAG Rundschrift D;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(255,255,255,1);
	}
	#Component_1__1_s {
		position: absolute;
		width: 108px;
		height: 35px;
		left: 1090px;
		top: 196px;
		overflow: visible;
	}
	#Repeat_Grid_1_t {
		position: absolute;
		width: 108px;
		height: 35px;
		left: 0px;
		top: 0px;
		overflow: hidden;
	}
	#Group_1_u {
		position: absolute;
		width: 108px;
		height: 35px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_1_v {
		fill: rgba(246,162,255,1);
	}
	.Rectangle_1_v {
		position: absolute;
		overflow: visible;
		width: 108px;
		height: 35px;
		left: 0px;
		top: 0px;
	}
	#Art {
		left: 28px;
		top: 5px;
		position: absolute;
		overflow: visible;
		width: 53px;
		height: 24px;
		text-align: center;
		font-family: VAG Rundschrift D;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(255,255,255,1);
	}
	#Component_1__1_x {
		position: absolute;
		width: 108px;
		height: 35px;
		left: 1218px;
		top: 196px;
		overflow: visible;
	}
	#Repeat_Grid_1_y {
		position: absolute;
		width: 108px;
		height: 35px;
		left: 0px;
		top: 0px;
		overflow: hidden;
	}
	#Group_1_z {
		position: absolute;
		width: 108px;
		height: 35px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_1_ {
		fill: rgba(246,162,255,1);
	}
	.Rectangle_1_ {
		position: absolute;
		overflow: visible;
		width: 108px;
		height: 35px;
		left: 0px;
		top: 0px;
	}
	#About {
		left: 28px;
		top: 5px;
		position: absolute;
		overflow: visible;
		width: 53px;
		height: 24px;
		text-align: center;
		font-family: VAG Rundschrift D;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(255,255,255,1);
	}
	#Hello_Im_a_potato_A_magical_pu {
		left: 298px;
		top: 362px;
		position: absolute;
		overflow: visible;
		width: 539px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(112,112,112,1);
	}
}
