body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f3f0f7;
    min-width: 500px;
}

footer {
    color: #f4e4fc;
    text-align: center;
    background-color: #202b69;
    padding-block: 15px;
}

h1 {
    font-family: Poppins;
    line-height: 1.5em;
}

h2 {
    font-family: DoublePica;
    font-size: 2.25em;
    line-height: 1.25em;
    margin-bottom: 0px;
}

h3 {
    font-family: Poppins;
    font-size: 1.3em;
    line-height: 1.5em;
    color: #a89fb5;
}

p {
    font-family: Poppins;
    font-size: 1.06em;
    padding: 2px;
    line-height: 33px;
}

.hero-image {
    background-image: url("clouds.jpg");
    height: 20%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

@font-face {
    font-family: Poppins;
    font-weight: normal;
    src: url(Poppins-Regular.ttf);
}
@font-face {
    font-family: Poppins;
    font-weight: bold;
    src: url(Poppins-SemiBold.ttf);
}
@font-face {
    font-family: DoublePica;
    src: url(IMFellDoublePicaSC-Regular.ttf);
}

.navigation {
    text-align: center;
    font-family: Poppins;
    font-weight: bold;
    width: 100%;
    max-height: 55px;
    height: 100%;
    border-bottom: solid;
    border-bottom-color: #e5e1eb;
    border-bottom-width: thin;
    background-color: #eee9f5;
}

.navigation ul {
    display: inline-block;
    list-style: none;
}

.navigation ul li {
    display: inline;
    margin-inline: 5px;
    padding-inline: 20px;
}

.navigation ul .current {
    padding-bottom: 14px;
    border-bottom: solid;
    border-bottom-color: darkviolet;
}

a {
    transition: 0.2s;
    text-decoration: none;
    color: black;
}

a:hover {
    color: darkviolet;
}

.featured {
    text-align: center;
    padding: 2%;
}

.featured-img {
    width: 30%;
}


.description {
    display: inline-block;
    text-align: center;
    width: 45%;
}

.post {
    display: inline-block;
    text-align: left;
    width: 97.5%;
    max-width: 800px;
}

table {
    display: inline-table;
    font-family: Poppins;
    font-size: 1em;
}

td {
    padding-left: 5px;
    padding-right: 20px;
    line-height: 1.5em;
    border-bottom: solid;
    border-bottom-color: #f3f0f7;
    background-color: #eee9f5;
}


.post-img {
    display: block;
    margin-inline: auto;
    width: 100%;
    max-width: 793px;
}


.portfolio-nav {
    text-align: center;
    font-family: Poppins;
    font-weight: bold;
    width: 100%;
    max-height: 55px;
    height: 100%;
    border-bottom: solid;
    border-bottom-color: #e5e1eb;
    border-bottom-width: thin;
}

.portfolio-nav ul {
    display: inline-block;
    list-style: none;
}

.portfolio-nav ul li {
    display: inline;
    margin-inline: 5px;
    padding-inline: 20px;
}

.portfolio-nav ul .current {
    border-bottom: solid;
    border-bottom-color: black;
    padding-bottom: 14px;
}

.gallery {
    text-align: center;
    width: 80%;
    margin: auto;
    padding: 25px;
}

.gallery-item {
    display: inline-block;
    padding: 5px;
}