body, html {
    height: 100%;
    background-color: #f1e3ff;
}

footer {
    color: #f4e4fc;
    text-align: center;
    background-color: #202b69;
}

h1{
    font-family: DoublePica;
}

h2{
    font-family: DoublePica;
    padding: 6px;
}

p {
    font-family: Poppins;
    font-size: 1.06em;
    padding: 2px;
    line-height: 30px;
}

.hero-image {
    background-image: url("clouds.jpg");
    height: 20%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

@font-face {
    font-family: Poppins;
    font-weight: normal;
    src: url(Poppins-Regular.ttf);
}
@font-face {
    font-family: Poppins;
    font-weight: bold;
    src: url(Poppins-SemiBold.ttf);
}
@font-face {
    font-family: DoublePica;
    src: url(IMFellDoublePicaSC-Regular.ttf);
}

.navigation {
    text-align: center;
    padding: 2px;
    font-family: Poppins;
    font-weight: bold;
}

.navigation ul {
    display: inline-flex;
    list-style: none;
}

.navigation ul li {
    margin-inline: 25px;
    padding-bottom: 10px;
}

.navigation ul li a {
    transition: 0.2s;
    text-decoration: none;
    color: black;
}

.navigation ul li a:hover {
    color: deeppink;
}

.navigation ul li:hover .games-dropdown {
    display: block;
    position: absolute;
    margin-top: 5px;
    margin-left: -65px;
}

.games-dropdown {
    display: none;
    font-weight: normal;
}

.featured-game {
    text-align: center;
    padding: 2%;
}

.featured-img {
    width: 30%;
}

.description {
    display: inline-block;
    text-align: center;
    width: 45%;
}

.gallery {
    text-align: center;
    width: 80%;
    margin: auto;
}

.gallery-item {
    display: inline-block;
    padding: 5px;
}