* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f3f0f7;
    height: 100vh;
}

header {
    width: 100%;
}

.banner {
    background-image: url("assets/images/banner.png");
    height: 20%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.main-nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #eee9f5;
}


.main-nav ul li {
    display: inline;
    padding: 10px 2%;

    font-family: Poppins;
    font-weight: bold;
    font-size: 16px;
    
    border-bottom: 3px solid transparent;
    transition: 0.2s;
}

.main-nav ul li:hover {
    border-bottom: 3px solid darkviolet;
}


.main-nav .nav-current {
    border-bottom: 3px solid darkviolet;
}

.container {
    box-sizing: border-box;
    overflow: hidden;
    padding: 30px 6%;
}

.container a:hover{
    color: darkviolet;
}

a {
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

h1 {
    font-family: Poppins;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    padding-bottom: 15px;
}

h2 {
    font-family: Poppins;
    font-weight: bold;
    color: #111;
    line-height: 32px;
    padding-top: 10px;
    padding-bottom: 8px;
}

/*Home page*/
.featured-post {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.featured-gallery {
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;
}

.featured-artwork {
    width: 100%;
    margin-bottom: 24px;
}

.featured-artwork img {
    width: inherit;
    border-radius: 10px;
    pointer-events: none;
}

.post-info {
    display: flex;
    flex-direction: column;
}

.post-desc p {
    font-family: Poppins;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 12px;
}

.post-tags {
    font-family: Poppins;
    font-weight: bold;
    font-size: 16px;
}

.post-tags li {
    display: inline;
    padding: 1px 5px 1px 5px;
    margin-right: 5px;
    background-color: #97F0E2;
    border-radius: 9px;
}

.thumbnail {
    width: 100%;
    transition: 0.2s;
}

.thumbnail img {
    width: inherit;
}

.thumbnail:hover {
    filter: brightness(115%);
}

/*Temp, in need of changes*/
.about-desc {
    text-align: center;
    padding: 15% 0px;
}
.about-desc p {
    font-family: Poppins;
    font-size: 16px;
    padding-bottom: 36px;
}

.about-desc img {
    display: inline-block;
    width: 125px;
}

footer {
    color: #f4e4fc;
    text-align: center;
    background-color: #202b69;
    padding: 15px;
}

footer p {
    font-family: Poppins;
    font-size: 14px;
    padding: 6px 0px;
}

/*Posts page*/
.search {
    margin-bottom: 44px;
}

#search-bar {
    width: 100%;
    font-family: Poppins;
    font-size: 16px;
    box-sizing: border-box;
    padding: 5px 30px 5px 7px;
    border-radius: 4px;
    border: none;
    outline: none;
    background-image: url('assets/images/icons8-search.svg');
    background-position: 98%;
    background-size: 20px;
    background-repeat: no-repeat;
}

#search-bar:focus {
    outline: none;
}

#search-not-found {
    display: none;
    text-align: center;
    padding: 48px 0px 92px 0px;
}

#search-not-found img {
    width: 150px;
}

/*Single post page*/
.post-img {
    display: block;
    margin-inline: auto;
    width: 100%;
}

table {
    display: inline-table;
    font-family: Poppins;
    font-size: 1em;
}

td {
    padding-left: 5px;
    padding-right: 20px;
    line-height: 1.5em;
    border-bottom: solid;
    border-bottom-color: #f3f0f7;
    background-color: #eee9f5;
}

/*Portfolio page*/
.portfolio-nav ul {
    display: flex;
    padding: 4px 0px 4px 0px;
    justify-content: center;
}

.portfolio-nav ul li {
    display: inline;
    padding: 10px 2%;

    font-family: Poppins;
    font-weight: bold;
    font-size: 16px;
    
    border-bottom: 3px solid transparent;
    transition: 0.2s;
}

.portfolio-nav ul li:hover {
    border-bottom: 3px solid black;
}

.portfolio-nav .portfolio-nav-current {
    border-bottom: 3px solid black;
}

@media only screen and (min-width: 500px) {
    .main-nav ul {
        justify-content: center;
    }

    h2 {
        padding-top: 0px;
    }

    .featured-post {
        flex-direction: row;
    }
    
    .featured-gallery {
        flex-direction: row;
        justify-content: space-between;
    }

    .featured-artwork {
        margin-bottom: 0px;
        flex: 0 1 32%;
    }

    .thumbnail {
        width: 95%;
        flex: 40%;
    }

    .post-info {
        flex-direction: column;
        justify-content: space-between;
        flex: 60%;
    }

    .about-desc {
        padding: 20px 6%;
    }
}

@media only screen and (min-width: 1000px) {

    .container {
        padding: 45px 20% 45px 20%;
    }

    .post-info {
        justify-content: flex-start;
    }

    .search {
        margin-bottom: 58px;
    }

    .about-desc {
        padding: 60px 15% 100px 15%;
    }
}

@font-face {
    font-family: Poppins;
    font-weight: normal;
    src: url(assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins;
    font-weight: bold;
    src: url(assets/fonts/Poppins-SemiBold.ttf);
}
